{% extends 'app_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Error 500</h1>
            <p>Request failed.</p>
        </div>
    </div>
{% endblock %}