<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
         bootstrap="bootstrap.php">

    <php>
        <ini name="display_errors" value="true" />
        <!-- 24575 = E_ALL & ~E_DEPRECATED -->
        <ini name="error_reporting" value="24575" />
    </php>

    <testsuites>
        <testsuite name="main">
            <directory>./src/**/**/**/Tests</directory>
        </testsuite>
        <testsuite name="packages">
            <directory>./vendor/s7designcreative/Vendor/**/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory suffix=".php">./vendor/</directory>
        </blacklist>
    </filter>
</phpunit>