<h4>Edit Menu</h4>
<form action="">
    <div class="form-group">
        <label for="title">Menu name</label>
        <span class="help">e.g. "My new menu"</span>
        <div class="controls">
            <input name="menu_name" type="text" placeholder="Menu name" value="{{ menu.getName() }}" id="menu_name" required/>
        </div>
    </div>
</form>