<script src='https://www.google.com/recaptcha/api.js'></script>
<h2>Registration</h2>
<form method="post" action="/public/?verify/">
    <input type="email" name="email" required placeholder="Email">
    <input type="text" name="password" required placeholder="Password">
    <div class="g-recaptcha" data-sitekey="6LfjPg4TAAAAAEuS9_2NIQAp-knyCIbnoLBSAq2L"></div>
    <input type="submit">
</form>